<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <h2>Add your new message:</h2>
    <form method="POST" action="/new">
      <label>
        Name:
        <input type="text" name="name" />
      </label>
      <label>
        Message:
        <input type="text" name="messageText" />
      </label>
      <button>submit</button>
    </form>
  </body>
</html>
